.places h1 {
    font-size: 30px;
    text-align: top-left;
    display: block;
    width: 100%;
}

.places {
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

.places article h2 {
    text-align: center;
}
